:root {
  --primary: #2EFCFF;
  --black: #000000;
  --white: #FFFFFF;
  --text-light: #5B6470;
  --text: #353A41;
  --text-dark: #23272B;
  --background: #F5F7FA;
  --background-light: #FBFCFC;
  --grey-light: #EDF2F5;
  --grey: #D9DDE0;
  --grey-dark: #9EA1A3;
  --error-light: #B64F62;
  --error: #A4243B;
  --error-dark: #831C2F;
  --success-light: #A8F5AB;
  --success: #9AE19D;
  --success-dark: #7BB47D;
  --warning-light: #F9D05E;
  --warning: #F8C537;
  --warning-dark: #C69D2C;
}